@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 8%;
    height: 8%
}

.header {
    font-family: 'Inter', sans-serif;
    background-color: gold;
}

.navbar {
    background-color: #FFD700; /* Replace with the exact color code for your brand */
}

.navbar-brand img.logo {
    /* Adjust the width and height to match your brand logo as shown in the image */
    width: auto;
    height: 40px; /* Adjust as needed */
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Adjust as needed */
    color: #333333; /* Replace with the exact color code for the text */
    margin-right: 20px; /* Spacing between nav items */
}

/* Specific style for the login nav item */
.navbar-nav .ml-auto .nav-link {
    font-weight: bold; /* If the Login link should be bold */
}