@{
    ViewData["Title"] = "About Me";
}
<div class="col-8">
    <h1>@ViewData["Title"]</h1>
    <h2>(Aurora Brickwell)</h2>
</div>

<img class="row-cols-3" src="~/lib/aurorapfp.png" />

<h3 class="col-8">
    I started building Legos with my dad when I was 1 month old! At age 2, 
    I finished building the 7,541 piece Millennium Falcon set. 
    I started /n@aurorabricks in 2019, wanting to share my love for Legos. 
    I created my shop in 2023. This shop includes the most popular Lego sets ever!!!
</h3>