@model Product
    
<h2>Confirm Deletion</h2>

<h3>@Model.Name (@Model.Year)</h3>

<form method="post">
    <input type="hidden" asp-for="Name" />
    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="AEDProduct">Cancel</a>
</form>