@{
    ViewData["Title"] = "Home Page";
}


<img src="~/lib/masterbuilders.png" />
<h1>Welcome, Master Builders</h1>

<p>Recommended For You:</p>

@model LegosListViewModel

    <h1>Online Legostore</h1>


         @foreach (Product l in Model.Products)
    {
        <partial name="Inventory" model="l" />
    }

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class='btn' page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>
